<!--proyecto 1/ index.html-->
<html>
    <head>

    </head>
    <body>
        <style>
            p{
                color: white;
                background-color: black;
                text-align: center;
            }
        </style>
        <center>
            <h1>Hola este es mi primer Template creado con Django</h1>
            <p>
            Me da gusto aprender django, es un framework muy facil de manejar, <br>
            ojala y podamos crear nuestras paginas web mas impresionantes tipo como <br>
            las de Apple.
            </p>
        </center>
    </body>
</html>